<%if !signed_in? %>
<div class="center hero-unit">
  <h1>Welcome to Snap</h1>

  <%= link_to "Log in with Facebook", "/auth/facebook", 
  class: "btn btn-large btn-primary" %>
  <%= link_to "Log in with Twitter", "/auth/twitter", 
  class: "btn btn-large btn-primary" %>
</div>

<%else%>
<div class="span6 offset3">
  <%Notification.order("created_at DESC").each do |noti| %>
  <li>
    <% if noti.target_id == current_user.id && noti.relation_type == "user_user_relationships" %>
    <%= User.find(noti.source_id).name%> followed you
  </li>
  <%end%>
  <%end%>
  <%end%>
