<h1> Verification </h1>
<p>Thank you for signing up for this site. Please click the following link to verify your email address: </p>

<%= link_to "Verify your account!", @user_verification_url %>

<p>If the above URL does not work, try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us. </p>