<nav id="site-nav" class="span1">

  <h2>Administrator</h2>

  <ul class="demos-list">
    <ul class="nav nav-list">
      <li>
      <a href="/admin/users">
        <i class="icon-user"></i>
        User List
      </a>
      </li>
      <li>
      <a href="/admin/photos">
        <i class="icon-picture"></i>
        Photo List
      </a>
      </li>
      <li>
      <a href="/admin/reports">
        <i class="icon-exclamation-sign"></i>
        Reports
      </a>
      </li>
      <li>
      <a href="/admin/news">
        <i class="icon-time"></i>
        News
      </a>
      </li>
    </ul>
  </nav> <!-- #site-nav -->
  <section class="content">

<div class = "choice" style="margin-left: 850px;margin-bottom:20px;margin-top: 20px">
<a href= "/admin/news/user_box"><span class="label label-important" style="margin-right: 20px">User Box</span></a>
<a href= "/admin/news/user_user"><span class="label label-info" style="margin-right: 20px">User User</span></a>
<a href= "/admin/news/user_photo"><span class="label label-success" style="margin-right: 20px">User Photo</span></a>
</div>

  <ul class="activities">
    <%= render @notifications %>
  </ul>

  <%= will_paginate %>
</section>
