<%= form_for(current_user.user_user_relationships.build(following_id: @user.id),  remote: true) do |f| %>
  <div><%= f.hidden_field :following_id %></div>
  <%= f.submit "Follow All", class: "btn btn-large btn-primary" %>
<% end %>
