  <span id="follow_user_<%= @user.id %>">
<%= form_for(current_user.user_user_relationships.build(following_id: @user.id),  remote: true) do |f| %>
  <span><%= f.hidden_field :following_id %></span>
  <%= f.submit "Follow All", class: "Button13 Button WhiteButton" %>
<% end %>
</span>
