<div id="follow_box_<%= box.id %>" class="row center">
<%= form_for(current_user.user_box_follows.build(box_id: box.id), remote: true) do |f| %>
 	<div><%= f.hidden_field :box_id %></div>
	<%= f.submit "Follow", class: "btn btn-primary btn-large" %>
<% end %>	
</div>
