<h5 class="lead"><%= photo.name %></h5>
    	<% if photo.image_remote_url.nil? %>
			<%=link_to image_tag(photo.image.url),photo.image.url, class: "photo"%>
		<% else %>
			<%= image_tag photo.source %>
		<% end %>
		<div class="btn-group ">
			<a class="btn btn-small" href="#"><i class="icon-zoom-in"></i></a>
			<a class="btn btn-small" href="<%= edit_photo_path(photo) %>"><i class="icon-edit"></i></a>
        	<a href="/photos/1" class="btn btn-small" data-confirm="You sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a>
			<a class="btn btn-small" href="#"><i class="icon-warning-sign"></i></a>
		</div>

<script>
$('.photo').colorbox({scalePhotos:true, maxHeight: "50%"});
</script>
			