<div id="unfollow_box_<%= @box.id %>">
<%= form_for(current_user.user_box_follows.find_by_box_id(@box),
			html: { method: :delete }, remote: true) do |f| %>
	<%= f.submit "Unfollow", class: "Button13 Button WhiteButton InlineButton", style: "width: 100%;" %>
<% end %>
</div>
