<h1><%=@box.name%></h1>
<ul class="thumbnails">
<% @photos.each do |photo| %>
  <li class="span3">   	
    <div class="thumbnail">
    	<%= render 'photo', photo: photo %>
	</div>
</li>
	<% end %>
</ul>


