<nav id="site-nav" style="margin-left: 0;">

    <h2>Friends</h2>

    <ul class="demos-list">
  <ul class="nav nav-list">
  <li>
    <a href="/invite/facebook">
      <i class="icon-user"></i>
      Facebook
    </a>
  </li>
  <li>
    <a href="/invite/twitter">
      <i class="icon-picture"></i>
      Twitter
    </a>
  </li>
  <li>
    <a href="/invite/mail">
      <i class="icon-exclamation-sign"></i>
      Mail
    </a>
    </li>
  <li>
    <a href="/entry/findfriends">
      <i class="icon-time"></i>
      Find Friends
    </a>
  </li>
</ul>
  </nav> <!-- #site-nav -->