	<a href="/users/<%= user.id %>/followers"><strong><%= user.followers.count %> followers </strong></a>
	<a href="/users/<%= user.id %>/following"><strong><%= user.following_users.count %> following </strong></a>
		<br/>
		<br/>