<%= render '/shared/invite' %>
<%= link_to 'Send Request to your friends', '#', :id => :app_request, class: "btn btn-large btn-primary" %>
  <div id="fb-root"></div>
</br>

<%= javascript_include_tag "invite" %>