<span id="unlike_photo_<%= photo.id %>">
<%= form_for(current_user.user_photo_actions.find_by_photo_id(photo.id),
			html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Unlike", class: "btn btn-small"  ,style: "float: right; width: 50px; background: initial; border:0;"%>
<% end %>
</span>
