<nav id="site-nav" class="span1" style="border-right: 1px solid #CFCACA">

  <h2>Administrator</h2>

  <ul class="demos-list">
    <ul class="nav nav-list">
      <li>
      <a href="/admin/users">
        <i class="icon-user"></i>
        User List
      </a>
      </li>
      <li>
      <a href="/admin/photos">
        <i class="icon-picture"></i>
        Photo List
      </a>
      </li>
      <li>
      <a href="/admin/reports">
        <i class="icon-exclamation-sign"></i>
        Reports
      </a>
      </li>
      <li>
      <a href="/admin/news">
        <i class="icon-time"></i>
        News
      </a>
      </li>
    </ul>
  </nav> <!-- #site-nav -->

  <%# <h1>All Photos</h1> %>
  <section class="content">
    <%= render :partial => 'photo_paginate' %>
  </section>
