<% provide(:title, 'Upload') %>
<h1>Upload</h1>
<div class="row">
  <div class="span6 offset3">
    <div class="btn-group span6">
    <%= link_to "Upload via PC", upload_pc_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Upload via URL", upload_url_path, class: "btn btn-large btn-primary" %>
        <% if current_user.authentications.find_by_provider('facebook').nil? %>
          <%= link_to "Upload via Facebook", "/auth/facebook", class: "btn btn-large btn-primary"%>
        <% else %>
          <%= link_to "Upload via Facebook", upload_facebook_path, class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
  </div>
</div>