<%= render '/shared/invite' %>
</div>
<div class="row">
  <ul class="nav nav-list">
    <% @friends_profile.each do |user| %>
    <li class="users">
      <%= link_to user.name, user_path(user)%>
    <% @user = user %>
    <%= render 'users/follow_user_form', user: @user %>
    </li>
    <%end%>

  </ul>
</div>