
<div class="row">
  <div class="span6 offset3">
    <span class = "selected"> Pins</span>
    <span class = "greyselected">" - search results for "</span>
    <a href =  "/search/name/?search=<%="#{params[:search]}" %>" >Name</a>
    <a href =  "/search/category/?search=<%="#{params[:search]}" %>" >Category</a>
  </div>
  <%= debug params %>
</div>
