<div class="row">
  <div class="span6 offset3" style="font-size: 20px">
    <span class = "selected" style="color: #CB2027"> Box </span>
    ·
    <a href =  "/search/name/?search=<%="#{params[:search]}" %>"  style="text-decoration: underline;color: black">Name</a>
    ·
    <a href =  "/search/pin/?search=<%="#{params[:search]}" %>" style="text-decoration: underline;color: black">Pin</a>

    <span class = "greyselected" style="color: #8C7E7E" >   — search results for <%= "#{params[:search]}" %>  </span>
  </div>
  <br>
  <div class="row">
  <ul class="nav nav-list">
    <% @boxes.each do |box| %>
      <li class="boxes">
      <%= link_to box.name, '#'%>
      </li>
    <%end%>
  </ul>
</div>
</div>
