<div class="row">
  <div class="span6 offset3">
    <a href =  "/search/name/?search=<%="#{params[:search]}" %>" >Name</a>
    <a href =  "/search/box/?search=<%="#{params[:search]}" %>" >Box</a>
  </div>

</div>
